/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap');

.section {
    overflow: hidden;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
}

.text {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* min 50px at width 400px and max 120px at width 900px.
    slope = (120 - 50)/(900 - 400) = 7 / 50
    so straight line -> 50px - (7/50)(100vw - 400px) */
    font-size: clamp(50px, calc(-6px + 14vw), 120px);
    color: white;
    font-family: 'Eczar', serif;
    font-weight: bold;
}